.my-rest-space {
    margin-left: 260px;
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}
  
.my-div {
    flex: 1;
    max-width: 95%;
    height: max-content;
    margin: 100px 15px 100px 15px;
    padding: 30px;
    background-color: #f9f9f9;
}

.header_table{
    display: flex;
    align-items: flex-end; 
    margin-bottom: 20px;
}

.title_container{
    flex: 1;
}

.controls_container {
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas de ancho automático */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 15px; /* Espacio entre los elementos */
  }


.scrollable_tbody{
    height: 450px; 
    overflow-y: auto;
    background-color: white;
    padding: 10px;
}

.pagination{
    justify-content: right;
    margin-top: 10px;
}

.pagination input{
    max-width: 70px;
}

.pagination_info{
    margin-right: 20px;
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.pagination_info label{
    padding-right: 5px;
}

.left{
    margin-right: 5px;
}

.pagination_control{
    display: flex;
    align-items: center;
}

.status-container {
    display: flex;
    align-items: center;
  }
  
.circle {
    width: 10px;
    height: 10px;
    border-radius: 26%;
    margin-right: 8px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
  
.icon {
    margin-bottom: 4px;

}