.status-container {
    display: flex;
    align-items: center;
  }
  
.circle {
    width: 10px;
    height: 10px;
    border-radius: 26%;
    margin-right: 8px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.aquamarine {
    background-color: aquamarine;
}

.blue {
    background-color: blue;
}

.blue-blinking {
    background-color: blue;
    animation: blinking 1s infinite alternate;
}

@keyframes blinking {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
