.connector{
    height: max-content !important;
}

.status-container {
    display: flex;
    align-items: center;
  }
  
.circle {
    width: 10px;
    height: 10px;
    border-radius: 26%;
    margin-right: 8px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: #fde125;
}

.blue {
    background-color: blue;
}

.blue-blinking {
    background-color: blue;
    animation: blinking 0.5s infinite alternate;
}

@keyframes blinking {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.below_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h5 {
    margin: 0 auto; /* Centra el h5 horizontalmente */
}

.buttons {
    display: flex;
    gap: 10px; /* Espacio entre botones */
}

.switch{
    margin-top: 8px;
}